.container{
  padding: 40px;
  width: 100%;

  h1 {
    border-bottom: 1px solid #ccc;
    color: var(--color-primary);
    margin-bottom: 40px;
    padding-bottom: 40px;
    text-align: center;
  }

  h2 {
    color: #ccc;
  }
}
