{
  "presets" : [
      "es2015", "flow", "react", "stage-0"
    ],
    "env": {
      "server": {
          "plugins": [
            [
              "css-modules-transform", {
                "extensions": [".css", ".scss"],
                "devMode": true
              }
            ]
          ]
      }
    }
}
